In [1]:
import pandas as pd
df = pd.read_excel("../PHASE - 1 - DATA EXTRACTION/cric_data.xlsx")
df.head()

,Match,Inning,Over,Delivery,Batter,Bowler,Non-Striker,Runs,Extras,Total Runs,Total,Player Out,Wicket Kind,Fielder
0,1082591,Sunrisers Hyderabad,0,1,DA Warner,TS Mills,S Dhawan,0,0,0,0,NaN,NaN,NaN
1,1082591,Sunrisers Hyderabad,0,2,DA Warner,TS Mills,S Dhawan,0,0,0,0,NaN,NaN,NaN
2,1082591,Sunrisers Hyderabad,0,3,DA Warner,TS Mills,S Dhawan,4,0,4,4,NaN,NaN,NaN
3,1082591,Sunrisers Hyderabad,0,4,DA Warner,TS Mills,S Dhawan,0,0,0,4,NaN,NaN,NaN
4,1082591,Sunrisers Hyderabad,0,5,DA Warner,TS Mills,S Dhawan,0,2,2,6,NaN,NaN,NaN

In [6]:
# Create a dictionary to store the cumulative runs for each batsman in each match
cumulative_runs = {}

# Iterate through the rows in the DataFrame
for index, row in df.iterrows():
    match = row['Match']
    batter = row['Batter']
    runs = row['Runs']
    
    # Check if the batsman has played in this match
    if match not in cumulative_runs:
        cumulative_runs[match] = {batter:runs}
    else:
        if batter not in cumulative_runs[match]:
            cumulative_runs[match][batter] = runs
        else:
            cumulative_runs[match][batter] += runs
# print(cumulative_runs)
for index, row in df.iterrows():
    match = row['Match']
    batter = row['Batter']
    
    # Set the total_run_batter value in the DataFrame
    df.at[index, 'total_run_batter'] = cumulative_runs[match][batter]
# 
# Save the DataFrame back to an Excel file if needed
df.to_excel("batsmen_total_score.xlsx", index=False)  # Replace "output_ipl_data.xlsx" with your desired file path

In [7]:
# Convert the dictionary to a pandas DataFrame
df = pd.DataFrame([(match, batter, runs) for match, values in cumulative_runs.items() for batter, runs in values.items()],
                  columns=["match", "batter", "runs"])

# Create a new Excel file with the data
with pd.ExcelWriter('player_runs.xlsx') as writer:
    df.to_excel(writer, sheet_name='Sheet1', index=False)