In [1]:
import pandas as pd

# Load your Excel data into a pandas DataFrame
df = pd.read_excel("../PHASE - 1 - DATA EXTRACTION/cric_data.xlsx")
df.head()

,Match,Inning,Over,Delivery,Batter,Bowler,Non-Striker,Runs,Extras,Total Runs,Total,Player Out,Wicket Kind,Fielder
0,1082591,Sunrisers Hyderabad,0,1,DA Warner,TS Mills,S Dhawan,0,0,0,0,NaN,NaN,NaN
1,1082591,Sunrisers Hyderabad,0,2,DA Warner,TS Mills,S Dhawan,0,0,0,0,NaN,NaN,NaN
2,1082591,Sunrisers Hyderabad,0,3,DA Warner,TS Mills,S Dhawan,4,0,4,4,NaN,NaN,NaN
3,1082591,Sunrisers Hyderabad,0,4,DA Warner,TS Mills,S Dhawan,0,0,0,4,NaN,NaN,NaN
4,1082591,Sunrisers Hyderabad,0,5,DA Warner,TS Mills,S Dhawan,0,2,2,6,NaN,NaN,NaN

In [4]:

# Sort the DataFrame by "Match" and "Inning" (assuming these columns exist)
df = df.sort_values(by=["Match", "Inning"])

# Calculate the cumulative runs and deliveries for each batsman
df['CumulativeRuns'] = df.groupby(['Match', 'Inning', 'Batter'])['Runs'].cumsum()
df['CumulativeDeliveries'] = df.groupby(['Match', 'Inning', 'Batter'])['Delivery'].cumcount() + 1

# Calculate the strike rate for each delivery (assuming there are no divisions by zero)
df['StrikeRate'] = (df['CumulativeRuns'] / df['CumulativeDeliveries']) * 100

# Create a new DataFrame with only the latest strike rate for each batter
latest_strike_rate_df = df.drop_duplicates(['Match', 'Batter'], keep='last')

# Print or export the DataFrame as needed
print(latest_strike_rate_df)

          Match                 Inning  Over  Delivery           Batter  \
107252   335982  Kolkata Knight Riders     5         2       SC Ganguly
107293   335982  Kolkata Knight Riders    12         1       RT Ponting
107325   335982  Kolkata Knight Riders    17         1        DJ Hussey
107336   335982  Kolkata Knight Riders    18         6  Mohammad Hafeez
107342   335982  Kolkata Knight Riders    19         6      BB McCullum
...         ...                    ...   ...       ...              ...
107044  1370353         Gujarat Titans     6         6     Shubman Gill
107088  1370353         Gujarat Titans    13         6          WP Saha
107121  1370353         Gujarat Titans    19         3  B Sai Sudharsan
107123  1370353         Gujarat Titans    19         5        HH Pandya
107124  1370353         Gujarat Titans    19         6      Rashid Khan

             Bowler      Non-Striker  Runs  Extras  Total Runs  Total  \
107252       Z Khan      BB McCullum     0       0           0     61
107293    JH Kallis      BB McCullum     0       0           0    112
107325    AA Noffke      BB McCullum     0       0           0    172
107336    JH Kallis      BB McCullum     4       0           4    200
107342      P Kumar  Mohammad Hafeez     6       0           6    222
...             ...              ...   ...     ...         ...    ...
107044    RA Jadeja          WP Saha     0       0           0     67
107088    DL Chahar  B Sai Sudharsan     0       0           0    131
107121  M Pathirana        HH Pandya     0       0           0    212
107123  M Pathirana      Rashid Khan     0       1           1    214
107124  M Pathirana        HH Pandya     0       0           0    214

             Player Out Wicket Kind     Fielder  CumulativeRuns  \
107252       SC Ganguly      caught   JH Kallis              10
107293       RT Ponting      caught     P Kumar              20
107325        DJ Hussey      caught    CL White              12
107336              NaN         NaN         NaN               5
107342              NaN         NaN         NaN             158
...                 ...         ...         ...             ...
107044     Shubman Gill     stumped    MS Dhoni              39
107088          WP Saha      caught    MS Dhoni              54
107121  B Sai Sudharsan         lbw         NaN              96
107123              NaN         NaN         NaN              21
107124      Rashid Khan      caught  RD Gaikwad               0

        CumulativeDeliveries  StrikeRate
107252                    12   83.333333
107293                    20  100.000000
107325                    12  100.000000
107336                     3  166.666667
107342                    77  205.194805
...                      ...         ...
107044                    20  195.000000
107088                    40  135.000000
107121                    48  200.000000
107123                    12  175.000000
107124                     2    0.000000

[15400 rows x 17 columns]

In [5]:
# Merge the latest strike rate back into the main dataset
main_df = df.merge(latest_strike_rate_df[["Match", "Batter", "StrikeRate"]], on=["Match", "Batter"], how="left")

# Save the main dataset with the added strike rate as a new Excel file
main_df.to_excel("main_dataset_with_strike_rate.xlsx", index=False)

In [26]:
# Load the Excel sheet into a DataFrame

df = pd.read_excel('cric_data.xlsx')

year = 1
player = {}
match = 0
final_col = []

# Iterate through the rows in the Excel sheet
for index, row in df.iterrows():
    match_col_value = row['Match']
    batter_col_value = row['Batter']
    year_col_value = row['Year Of Match']
    if year == 1:
        year = year_col_value
        player[batter_col_value] = 1
        final_col.append(player[batter_col_value])
    elif year_col_value != year:
        player = {}
        player[batter_col_value] = 1
        final_col.append(player[batter_col_value])
        
    elif match_col_value != match:
        # Check if batter data is already in the player dictionary
        if batter_col_value in player:
            player[batter_col_value] += 1
        else:
            player[batter_col_value] = 1

        final_col.append(player[batter_col_value])

    elif match_col_value == match:
        final_col.append(player.get(batter_col_value, 0))

    match = match_col_value

# Now final_col contains the values you want

start prog
end read
start loop
start if
[1]