In [8]:
import pandas as pd

# Replace 'your_excel_file.xlsx' with the actual path to your Excel file
df = pd.read_excel('unique_player_data.xlsx')
df.head()

,Player Name,Total Matches,Total Innings,Total Not Outs,Total Runs,Highest Score,Total Balls Faced,Strike Rate,Hundreds,Fifties,Fours,Sixes
0,Tushar Deshpande,5,2,1,21,20,12,175,0,0,2,1
1,Devon Conway,99,99,93,344,92,265,92,92,95,114,104
2,Ruturaj Gaikwad,38,37,5,1429,101,1035,147.5,1,11,126,59
3,Moeen Ali,59,52,6,1034,93,723,136.26,0,5,88,59
4,Ben Stokes,45,44,6,935,107,698,107.14,2,2,81,32

In [11]:
# Define your custom functions
def classify_high_score(high_score):
    if high_score == "NONE":
        return 0
    elif 0 <= int(high_score) <= 30:
        return 1
    elif 31 <= int(high_score) <= 60:
        return 2
    elif 61 <= int(high_score) <= 90:
        return 3
    elif 91 <= int(high_score) <= 120:
        return 4
    elif 121 <= int(high_score) <= 150:
        return 5
    else:
        return 6

def classify_not_out(not_out):
    if not_out == "NONE":
        return 0
    elif 0 <= int(not_out) <= 30:
        return 1
    elif 31 <= int(not_out) <= 60:
        return 2
    elif 61 <= int(not_out) <= 90:
        return 3
    elif 91 <= int(not_out) <= 120:
        return 4
    elif 121 <= int(not_out) <= 150:
        return 5
    else:
        return 6
    
def classify_strike_class(strike):
    if strike == "NONE":
        return 0
    elif 0 <= int(strike) <= 30:
        return 1
    elif 31 <= int(strike) <= 60:
        return 2
    elif 61 <= int(strike) <= 90:
        return 3
    elif 91 <= int(strike) <= 120:
        return 4
    elif 121 <= int(strike) <= 150:
        return 5
    else:
        return 6
# Apply the custom functions to the respective columns
df['Highest Score'] = df['Highest Score'].apply(classify_high_score)
df['Total Not Outs'] = df['Total Not Outs'].apply(classify_not_out)
df['Strike Rate'] = df['Strike Rate'].apply(classify_strike_class)

In [12]:
df.head()

,Player Name,Total Matches,Total Innings,Total Not Outs,Total Runs,Highest Score,Total Balls Faced,Strike Rate,Hundreds,Fifties,Fours,Sixes
0,Tushar Deshpande,5,2,1,21,1,12,6,0,0,2,1
1,Devon Conway,99,99,4,344,1,265,4,92,95,114,104
2,Ruturaj Gaikwad,38,37,1,1429,1,1035,5,1,11,126,59
3,Moeen Ali,59,52,1,1034,1,723,5,0,5,88,59
4,Ben Stokes,45,44,1,935,1,698,4,2,2,81,32

In [13]:
new_df = df[['Player Name', 'Total Not Outs', 'Highest Score', 'Strike Rate']]

In [14]:
# Replace 'output_file.xlsx' with the desired file path and name for your output Excel file
output_file = 'ui_player_data.xlsx'

# Save the DataFrame to an Excel file
new_df.to_excel(output_file, index=False)

print(f"Data saved to {output_file}")

Data saved to ui_player_data.xlsx